<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<style>
    html {
        background-color: gray;
    }

    p {
        font-size: 16px;
    }

    body {
        width: 600px;
        margin: 0 auto;
        background-color: white;
        padding: 20px 20px 20px 20px;
        border: 5px solid black;
    }

    h1 {
        font-size: 20px;
    }
</style>
<head>
    <meta charset="ISO-8859-1">
    <title>User Information</title>
</head>

<body>

<h1>User Information:</h1>
<p th:text="'Id: ' + ${user.getId}"></p>
<p th:text="'Name: ' + ${user.getFirstName}"></p>
<p th:text="'Surname: ' + ${user.getLastName}"></p>
<p th:text="'Age: ' + ${user.getAge}"></p>
<p th:text="'City: ' + ${user.getCity}"></p>


</body>

</html>